<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <div class="nav-left">
            <a href="/">Orders</a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="#">Projects</a>
            <a href="/orders">Orders</a>
            <a href="/new-order">New Order</a>
        </div>
    </div>
